html {
  /* overridden by JS */
  --topbar-height: 85;
}

html,
body {
  hyphens: auto;
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--topbar-height) * 1px);

  @apply antialiased bg-white text-brown-700 font-sans font-normal;
}

::selection {
  @apply bg-teal-300 text-white;
}

.selection-inverted ::selection {
  @apply bg-brown-700 text-white;
}

address {
  @apply block not-italic;
}

small {
  font-size: inherit;
}

strong {
  font-weight: inherit;
}

.swiper-button-disabled {
  cursor: not-allowed;
}
