.root {
  @apply text-brown-700;

  /* Elements */
  & strong {
    @apply text-teal-300;
  }

  & h1,
  & h2,
  & h3 {
    @apply font-normal text-teal-300;
    @apply m-0;
  }

  & ul {
    & li {
      @apply flex gap-x-10 items-baseline;

      @apply before:shrink-0 before:translate-y-[-0.35em];
      @apply before:w-15 md:before:w-20 before:border-b before:border-teal-300 before:border-dashed;
    }
  }

  & ol {
    counter-reset: ol;

    & li {
      @apply flex gap-x-10 items-baseline;

      @apply before:shrink-0;
      @apply before:w-15 md:before:w-20;
      &::before {
        counter-increment: ol;
        content: counter(ol) ".";
      }
    }
  }

  & a,
  & button {
    @apply text-teal-300 transition-colors hover:text-brown-700;
  }

  /* Spacing */
  & :is(p, address, ul, ol, table, h1, h2, h3) {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  & :is(h1, h2, h3, h4, br) + :is(p, address, ul, ol, table) {
    margin-top: 0;
  }

  & h1,
  & h2,
  & h3 {
    @apply leading-snug;
  }

  /* General */
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  & a {
    overflow-wrap: anywhere;
  }

  & ul li:not(:last-of-type),
  & ol li:not(:last-of-type) {
    margin-bottom: 0.75em;
  }
}

.on-teal {
  @apply text-brown-700;

  & strong {
    @apply text-white;
  }

  & a,
  & button {
    @apply text-white hover:text-brown-700;
  }

  & h1,
  & h2,
  & h3 {
    @apply text-white;
  }
}
